<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ngx-tslint-report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
    <style>
        .no-padding {
            padding: 0 !important;
        }

        .no-bg{
            backgroun: none !important;
        }
    </style>
</head>

<body class="container">
    <header class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 class="text-center">TSLint report</h1>
                <h3 class="text-center">Project name:&nbsp;
                    <span>{{projectName}}</span>
                </h3>
                <h4 class="text-center">Total lint errors:&nbsp;
                    <span class="badge badge-danger">{{total}}</span>
                </h4>
            </div>
        </div>

    </header>
    <section>
        <table class="table table-hover table-bordered table-sm table-striped" style="margin-bottom:0">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>File Path</th>
                    <th>Error count</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                {{#each errors as |error|}}
                <tr>
                    <td>{{error.index}}</td>
                    <td>{{error.name}}</td>
                    <td>{{error.count}}</td>
                    <td class="text-center">
                        <button id="button{{error.index}}" class="btn btn-light" onclick="expandTable({{error.index}})"><i
                                id="icon{{error.index}}" class="fa fa-eye" aria-hidden="true"></i></button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="no-padding">
                        <table class="table table-hover table-bordered table-sm table-striped no-bg" id="detail{{error.index}}"
                            style="display: none">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>No.</th>
                                    <th style="width: 48%">Failure</th>
                                    <th>Rule Name</th>
                                    <th>Start Position</th>
                                    <th>End Position</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each error.details as |detail| }}
                                <tr>
                                    <td>{{incIndex @index}}</td>
                                    <td>{{detail.failure}}</td>
                                    <td>{{detail.ruleName}}</td>
                                    <td>Line: {{detail.startPosition.line}}, Col: {{detail.startPosition.character}}</td>
                                    <td>Line: {{detail.endPosition.line}}, Col: {{detail.endPosition.character}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</body>
<script>
    function expandTable(id) {
        let detailElement = document.getElementById('detail' + id);
        detailElement.style.display = (detailElement.style.display === 'none') ? 'table' : 'none';
        let clickedButton = document.getElementById('icon' + id);
        let isDetailClosed = clickedButton.classList.contains('fa-eye');
        if (isDetailClosed) {
            clickedButton.classList.remove('fa-eye');
            clickedButton.classList.add('fa-eye-slash');
        } else {
            clickedButton.classList.remove('fa-eye-slash');
            clickedButton.classList.add('fa-eye');
        }
    }

    function scrollToTop() {
        window.scrollTo(0, 0);
    }

</script>

</html>